
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-offset: -2px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}



button {
    width: 100%;
    padding: 10px;
    background-color: #CFAB8D;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
 h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: xx-large;

}

  a {
    display: inline-block;   
    padding: 10px 20px;      
    background-color: #CFAB8D; 
    color: #fffefe;            
    text-decoration: none;   
    border-radius: 5px;      
    font-weight: bold;       
    transition: background-color 0.3s; 
        list-style: none;

} 

a:hover {
    background-color: #b5947c; 
} 



/* Footer (Contact Section )*/
.contact-section {
  background-color: #CFAB8D;
  color: #ffffff;
  text-align: center; 
  padding: 20px;
}

.contact-section h3 {
  padding-top: 20px;
  margin-bottom: 15px;
  font-size: 18px;
}

.contact-section p {
  margin: 10px 0;
  font-size: 14px;
}

.contact-section a {
  text-decoration: none;
  margin: 0 5px;
} 

.bagora{
  text-align: center;
}

/* للشاشات الكبيرة */
@media (min-width: 769px) {
.contact-section h3 {
    font-size: 24px;
  }
  .contact-section p {
    font-size:18px ;
    font-weight: bold;
  }
  .contact-section {
    padding: 40px 20px;
  }
  
}